<%- include("header") -%>
<div class="container ">


<div class="form-container">
  <form class="" action="/" method="post">
  <input type="text" name="firstName" value="" placeholder="firstname" autocomplete="off">
  <input type="text" name="lastName" value="" placeholder="lastname" autocomplete="off">
  <input type="email" name="email" value="" placeholder="email Address" autocomplete="off">
  <input type="text" name="contact" value="" placeholder="contact Number" autocomplete="off">
  <input type="text" name="address" value="" placeholder="Address" autocomplete="off">
  <button type="submit" name="button">+</button>
  
  </form>

</div>

</div>
<%- include("footer") -%>
